{% extends 'base.html' %}

{% block content %}

<p class="lead"><strong>The Cardening</strong> is a website for playing card games with friends across the internet.</p>
<p>The system of gameplay is unique in that no game rules are enforeced except by players. Players simply decide whether to show opponents cards and/or to rotate and move individual cards. You can upload sprite images for decks of cards and even play games similar to Magic the Gathering, or you can use the standard set of playing cards that we provide.</p>
<!--
<blockquote>
    <p>Zounds! The plebeians doth protest when I play cards!</p>
    <small>Abe Lincoln</small>
</blockquote>
-->
<p><strong>The Cardening</strong> is an application that was built to learn how to use node.js, MongoDB, and other technologies.</p>

{% endblock %}
