<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/extra.css?v={{context.version}}" type="text/css"></style>
    <link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css" type="text/css"></style>
    <title>Cards{{context.page_title}}</title>
</head>

<body>
    <div id="page_wrapper" class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% include 'navigation_bar.html' %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="content" class="container">

                    {% if locals.messages|length > 0 %}
                        <div id="flashed_messages">
                            {% for message in locals.messages %}
                                {% if message.success %}
                                    <div class="alert alert-success">
                                        <p>{{ message.success }}</p>
                                    </div>
                                {% else if message.error %}
                                    <div class="alert alert-error">
                                        <p>{{ message.error }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% block content %}
                    {% endblock %}

                    <div id="footer_spacer"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p id="footer_p">
                &copy;{{context.year}} <a target="_blank" href="http://goatse.cx">Ryan Johnston</a> &amp; <a target="_blank" href="http://www.cheddarcode.com/g">L. Gabriel Miller</a>
            </p>
        </div>
    </div>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://www.html5canvastutorials.com/libraries/kinetic-v3.10.1.js"></script>
    -->
    <script type="text/javascript" src="js/lib/jquery/jquery.min.js?v={{context.version}}"></script>
    <!--
    <script type="text/javascript" src="js/lib/kinetic/kinetic-v4.4.0.js"></script>
    <script type="text/javascript" src="js/layout.js?v={{context.version}}"></script>
    -->
    <script type="text/javascript" src="js/lib/socket.io/socket.io.min.js?v={{context.version}}"></script>
    <script type="text/javascript" src="js/cards.js?v={{context.version}}"></script>
    <script type="text/javascript" src="js/sockets.js?v={{context.version}}"></script>
    <script type="text/javascript" src="js/lib/bootstrap/bootstrap.js?v={{context.version}}"></script>
    <script type="text/javascript" src="js/helpers.js?v={{context.version}}"></script>
    <script type="text/javascript" src="js/site.js?v={{context.version}}"></script>

    {% block js %}
    {% endblock %}

</body>

</html>
