{% extends 'base.html' %}

{% block content %}
<!--
<h2>Chat / Game preparation view</h2>
-->

<div class="row-fluid">
    <div id="chat_window" class="span10">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span2">
                    <p>[9:16] Name:</p>
                </div>
                <div class="span10">
                    <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <p>[9:16] Name:</p>
                </div>
                <div class="span10">
                    <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <p>[9:16] Name:</p>
                </div>
                <div class="span10">
                    <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <p>[9:16] Name:</p>
                </div>
                <div class="span10">
                    <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
                </div>
            </div>

        </div>
    </div>
    <div id="user_window" class="span2">
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
        <p>List</p>
        <p>of</p>
        <p>current</p>
        <p>users</p>
    </div>
</div>

<div class="row-fluid">
    <div id="chat_input_wrapper" class="span12">
        <input id="chat_input" type="text" class="input-block-level">
    </div>
</div>


{% endblock %}

{% block js %}

<script type="text/javascript">
    $(document).ready(function(){
        // Set chat box window heights.
        $("#chat_window,#user_window").css("max-height",document.body.clientHeight-$("#navigation_bar, #footer, chat_input").height()-100);
    });

    var nickname = "{{ session.username|escape }}";
    var id = "{{ session._id }}";
    var email = "{{ session.email }}";
</script>

<script type="text/javascript" src="js/sockets.js"></script>

{% endblock %}
