{% extends 'base.html' %}

{% block content %}
<script>
    $('body').addClass('bgfade');
</script>
<br>
<form id="loginform" class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Log In</h2>
    <input type="text" class="input-block-level" placeholder="Username">
    <input type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox">
        <input type="checkbox" value="1"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Go!</button>
</form>
<br>
<p class="input-block-level">Did you mean to <a href="/signup">Sign up</a>?</p>

{% endblock %}
