{% extends 'base.html' %}

{% block content %}
<br>
<form id="loginform" class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Log In</h2>
    <input type="text" class="input-block-level" placeholder="Username" name="username">
    <input type="password" class="input-block-level" placeholder="Password" name="password">
    <label class="checkbox">
        <input type="checkbox" value="1" name="remember"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Go!</button>
</form>

{% endblock %}
