{% extends 'base.html' %}

{% block content %}

<div id="signup_error" class="none">
    <p class="alert alert-error">
    </p>
</div>

<form id="signup_form" class="form-signin" method="post" action="/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
    <input id="signup_username" type="text" class="input-block-level" placeholder="Username" name="username">
    <input id="signup_email" type="text" class="input-block-level" placeholder="Email Address" name="email">
    <input id="signup_email_confirmation" type="text" class="input-block-level" placeholder="Confirm Email Address" name="email2">
    <div id="error_email" class="none alert alert-error">
        <p></p>
    </div>
    <input id="signup_password" type="password" class="input-block-level" placeholder="Password" name="password">
    <input id="signup_password_confirmation" type="password" class="input-block-level" placeholder="Confirm Password" name="password2">
    <div id="error_password" class="none alert alert-error">
        <p></p>
    </div>
    <button class="btn btn-large btn-primary">Go!</button>
</form>

{% endblock %}

{% block js %}

<script type="text/javascript">
    $('#signup_email,#signup_email_confirmation').change(function(){
        if($('#signup_email').val() !== $('#signup_email_confirmation').val()){
            $('#error_email').removeClass("none");
            $('#error_email p').text("Your email addresses do not match.");
        }else{
            $('#error_email').addClass("none");
            $('#error_email p').text("");
        }
    });
    $('#signup_password,#signup_password_confirmation').change(function(){
        if($('#signup_password').val() !== $('#signup_password_confirmation').val()){
            $('#error_password').removeClass("none");
            $('#error_password p').text("Your email addresses do not match.");
        }else{
            $('#error_password').addClass("none");
            $('#error_password p').text("");
        }
    });
    $('#signup_form').submit(function click_signup(){
        event.preventDefault();
        $.ajax({
            url: 'signup',
            data: {
                username : $('#signup_username').val(),
                email : $('#signup_email').val(),
                email_confirmation : $('#signup_email_confirmation').val(),
                password : $('#signup_password').val(),
                password_confirmation : $('#signup_password_confirmation').val()
            },
            type: 'post',
            error: function on_signup_failure(){
                $("#signup_error").removeClass("none");
                $("#signup_error p").text("An account with the provided credentials could not be created. Please try different credentials.");
            },
            success: function on_signup_success(){
                $("#email").val($("#signup_email").val());
                $("#password").val($("#signup_password").val());
                helpers.login();
            }
        });
    });

</script>

{% endblock %}
