{% extends 'base.html' %}

{% block content %}

<form id="user_form" class="form-horizontal" method="post" action="/user">
    <div id="update_error" class="alert alert-error none">
        <p>
        </p>
    </div>
    <div id="update_success" class="alert alert-success none">
        <p>
        </p>
    </div>
    <div class="control-group">
        <label id="profile_label" class="control-label" for="profile"><strong>{{ session.username|escape }}</strong></label>
        <div class="controls">
            {% if session.avatar_url|length > 1 %}
                <img id="profile" class="img-polaroid" src="{{ session.avatar_url|escape }}">
            {% else %}
                <img id="profile" class="img-polaroid" data-src="holder.js/200x200">
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="username">Username: </label>
        <div class="controls">
            <input id="username" type="text" name="username" class="input-block-level" value="{{ session.username|escape }}">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="bio">About: </label>
        <div class="controls">
            <textarea id="bio" name="bio" class="input-block-level">{{ session.bio|escape }}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="avatar_url">Avatar URL: </label>
        <div class="controls">
            <input id="avatar_url" type="text" name="avatar" class="input-block-level" value="{{ session.avatar_url|escape }}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">Email Address: </label>
        <div class="controls">
            <input id="email" type="text" name="email" class="input-block-level" value="{{ session.email|escape }}" placeholder="name@email.com">
        </div>
    </div>

    <div id="error_email" class="alert alert-error none">
        <p>
        </p>
    </div>

    <div class="control-group">
        <label class="control-label" for="email_confirmation">Confirm Email Address: </label>
        <div class="controls">
            <input id="email_confirmation" name="email_confirmation" type="text" class="input-block-level" value="{{ session.email|escape }}" placeholder="name@email.com">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">Password: </label>
        <div class="controls">
            <input id="password" name="password" type="password" class="input-block-level" placeholder="Leave blank to not change">
        </div>
    </div>

    <div id="error_password" class="alert alert-error none">
        <p>
        </p>
    </div>

    <div class="control-group">
        <label class="control-label" for="password_confirmation">Confirm Password: </label>
        <div class="controls">
            <input id="password_confirmation" name="password_confirmation" type="password" class="input-block-level" placeholder="Leave blank to not change">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="date_signup">Sign-up Date: </label>
        <div class="controls">
            <input id="date_signup" name="date_signup" type="text" class="input-block-level" value="{{ session.date_signup|date('Y-m-d') }}" readonly>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button id="dashboard_submit" class="btn btn-large btn-primary" type="submit">Update</button>
        </div>
    </div/

</form>

{% endblock %}

{% block js %}
<script type="text/javascript" src="js/lib/holder/holder.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $.getScript("js/lib/holder/holder.js", function on_load_holderjs(){
        //If holder.js is used we have to wait until it is called before accessing image's height
        $("#profile_label").css("line-height",$("#profile").css("height"));
        $("#profile").css("max-width",$("#username").css("width"));
    });
});

$("#email,#email_confirmation").change(function(){
    if($("#email").val() !== $("#email_confirmation").val()){
        $("#error_email").removeClass("none");
        $("#error_email p").text("Your email addresses do not match.");
    }else{
        $("#error_email").addClass("none");
        $("#error_email p").text("");
    }
});

$("#password,#password_confirmation").change(function(){
    if($("#password").val() !== $("#password_confirmation").val()){
        $("#error_password").removeClass("none");
        $("#error_password p").text("Your passwords do not match.");
    }else{
        $("#error_password").addClass("none");
        $("#error_password p").text("");
    }
});

$("#user_form").submit(function(){
    event.preventDefault();
    $.ajax({
        url: 'user',
        data: {
            username: $("#username").val(),
            bio: $("#bio").val(),
            avatar_url: $("#avatar_url").val(),
            email: $("#email").val(),
            email_confirmation: $("#email_confirmation").val(),
            password: $("#password").val(),
            password_confirmation: $("#password_confirmation").val()
        },
        type: 'post',
        error: function on_update_profile_failure(){
            $("#update_error").removeClass("none");
            $("#update_error p").text("There was an error updating your account.");
        },
        success: function on_update_profile_success(){
            $("#update_success").removeClass("none");
            $("#update_success p").text("Your account was successfully updated");
            window.location.replace("/user");
        }
    });
});

</script>
{% endblock %}
