<div class="container">
    <div class="jumbotron">
        <h1>Cards and Stuff</h1>
        <p>Have you ever wanted to interactive play a game of cards with a friend over the internet? Cards and Stuff lets you do just that.<p>
        <p>No rules are enforced except by players and card art can be uploaded so just about any card game is playable!</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/#/signup" role="button">Sign up <i class="fa fa-angle-double-right"></i></a>
        </p>
    </div>
</div>
