<form id="signup_form" class="form-signin" method="post" action="/#/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
    <input id="signup_username" type="text" class="input-block-level" placeholder="Username" name="username">
    <input id="signup_email" type="text" class="input-block-level" placeholder="Email Address" name="email">
    <input id="signup_email_confirmation" type="text" class="input-block-level" placeholder="Confirm Email Address" name="email2">
    <div id="error_email" class="none alert alert-error">
        <p></p>
    </div>
    <input id="signup_password" type="password" class="input-block-level" placeholder="Password" name="password">
    <input id="signup_password_confirmation" type="password" class="input-block-level" placeholder="Confirm Password" name="password2">
    <div id="error_password" class="none alert alert-error">
        <p></p>
    </div>
    <button class="btn btn-large btn-primary">Go!</button>
</form>
